# Gradle
**/.gradle/

# Local config
local.properties

# Build outputs
**/build/
/app/debug
/app/production
/app/release

# Native build
.externalNativeBuild
.cxx

# Android
/captures

# Kotlin
/.kotlin/errors

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
*.iml
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/

/.kotlin
